.login-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  z-index: 9999;
  top: 0;
  left: 0;
  font-size: 14px;
  display: none;
}

.login-wrap {
  width: 450px;
  background-color: white;
  padding: 30px 40px 50px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 58px;
  box-sizing: border-box;
}
.login-wrap .login-mhy-logo {
  width: 107px;
  height: 38px;
  position: absolute;
  top: -58px;
  left: 0;
  right: 0;
  margin: auto;
}
.login-wrap .fork {
  width: 16px;
  height: 16px;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.login-wrap .title {
  font-size: 18px;
  display: flex;
  border-bottom: 1px solid #f6f6f6;
  position: relative;
  width: 100%;
  color: #7f858a;
}
.login-wrap .tab-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.login-wrap .tab-item.active {
  font-weight: 700;
  color: #3c4044;
}
.login-wrap .tab-item.active::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #3b4354;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}
.form .input-wrap {
  padding-top: 15px;
  font-size: 12px;
  position: relative;
}
.form .input-wrap:first-child {
  padding-top: 25px;
  margin-top: 10px;
}

.form .input-container {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ebebeb;
}
.form input {
  position: relative;
  flex: 1;
  border: none;
  min-width: 0;
  width: 100%;
  color: #3c4044;
  padding: 10px 12px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 26px;
}

.focus {
  border: 1px solid #c7c7c7 !important;
}

.input-container .auth-code-btn {
  font-size: 16px;
  width: 120px;
  line-height: 20px;
  text-align: center;
  padding: 13px 0;
  color: #7f858a;
  cursor: pointer;
}

.input-container .auth-code-btn::before {
  content: "";
  border-left: 1px solid #f6f6f6;
  float: left;
  height: 100%;
}

.form .buttom-wrap {
  margin-top: 25px;
}
.buttom-wrap .login-btn {
  line-height: 48px;
  font-size: 18px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  background-color: #3b4354;
  border: 1px solid #3b4354;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 6px;
}

.login-wrap .Registration {
  font-size: 16px;
  margin-top: 12px;
}
.login-wrap a {
  color: #7f858a;
}

.Registration .to-right {
  float: right;
}

.login-wrap .login-tip {
  font-size: 16px;
  margin-top: 10px;
}
.move {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}
