@font-face {
  font-family: "iconfont"; /* Project id 3530816 */
  src: url('iconfont.woff2?t=1658673425048') format('woff2'),
       url('iconfont.woff?t=1658673425048') format('woff'),
       url('iconfont.ttf?t=1658673425048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-lock:before {
  content: "\e62d";
}

